<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>查询共享文件</title>

        <link href="./css/mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：文件管理 ->查询共享文件</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="../index/right">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>
        <div class="div_search">
            <span>
                <form action="{$smarty.const.__SELF__}" method="post">
                     <input class="inputBg" size="25" name="file_commonselect"type="text" value="" />
                    <input value="查询" type="submit" />
                </form>
            </span>
        </div>
        <div style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="1" width="100%">
                <tbody><tr style="font-weight: bold;">
                        <td hidden>文件序号</td>
                        <td>文件名称</td>
                        <td>文件类型</td>
                        <td>文件大小</td>
                        <td>文件描述</td>
                        <td>上传时间</td>
                        <td>来自</td>
                        <td>操作</td>
                    </tr>
                    {foreach $info as $k => $v}
                    <tr id="product1">
                        <td hidden>{$v.file_id}</td>
                        <td>{$v.file_name}</td>
                        <td>{$v.file_type}</td>
                        <td>{$v.file_size}</td>
                        <td>{$v.file_describe}</td>
                        <td>{$v.file_date}</td>
                        <td>{$v.file_user}</td>
                        <td align="center">
                            <input type="button" value="修改" onclick= "Update({$v.file_id},'{$v.file_name}')"> 
                            <input type="button" value="删除" onclick= "if (confirm('确认删除？')) return true; else return false;Delete({$v.file_id})"> 
                        </td>
                    </tr>
                    {/foreach}
                    <tr>
                        <td colspan="20" style="text-align: center;">
                            {$pagelist}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    <script type="text/javascript">
        function Update(id,name){
            window.location.assign("/file/index.php/Home/Admin/changecommon_file?file_id="+id+"&file_name="+name);
        }
        function Delete(id){
            window.location.assign("/file/index.php/Home/Admin/dropcommon_file?file_id="+id);
        }
    </script>
</html>